@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Faculty+Glyphic&family=Lavishly+Yours&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Smooch&display=swap");
body {
  margin: 0;
  padding: 0;
}
#container {
  width: 100%;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.name {
  font-size: 50px;
  font-family: "Smooch", serif;
  color: #396c03;
}
.navigate1 {
  font-family: "Poppins", serif;
  margin-right: 16px;
  color: #396c03;
}
.navigate2 {
  display: flex;
  flex-direction: row;
}
.login_b {
  background-color: #396c03;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  min-width: 100px;
  color: white;
  margin-right: 20px;
  font-family: "Poppins", serif;
  font-weight: 600;
}

.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #396c03;
  color: white;
}

.intro {
  background-color: #d1fae5;
}
.center_display {
  padding: 50px;
  width: 100%;
  max-width: 1280px;
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  font-family: "Smooch", serif;
  color: #396c03;
  font-size: 5rem;
}
.catchy {
  color: #396c03;
  font-family: "Montserrat", serif;
  font-size: 30px;
}
.catchy_2 {
  padding-top: 25px;
  color: grey;
  font-family: "Montserrat", serif;
}

.search_bar {
  margin-top: 1.5rem;
  display: flex;
}
.text_bar {
  width: 250px;
  padding: 0.5rem 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.search_b {
  background-color: #396c03;
  color: white;
  padding: 0.5rem 1rem;
  font-family: "Poppins", serif;
  font-weight: 600;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.plate {
  display: flex;
  margin-left: 320px;
}
.foodplate {
  height: 400px;
  width: 400px;
}
.after_main {
  display: flex;
  flex-direction: row;
  background-color: #fffbeb;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.cycle_div {
  width: 100%;
  margin-left: 60px;
}
.cycle_text {
  font-family: "Poppins", serif;
  font-size: 50px;
  font-weight: 900px;
  color: #396c03;
}
.cycle_para {
  color: grey;
  margin-top: 1rem;
  font-family: "Poppins", serif;
  font-weight: 400;
}
.explore_bt {
  margin-top: 20px;
  background-color: #396c03;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  min-width: 100px;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 600;
}

.cycle_img {
  margin-top: -120px;
  margin-left: -100px;
  height: 500px;
  width: 500px;
}
