@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Faculty+Glyphic&family=Lavishly+Yours&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Smooch&display=swap");
body {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
/* #modal {
  z-index: 1000;
  display: flex;
  position: fixed;
  padding-top: 20px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #a2b48f;
  margin: auto;
  padding: 20px;
  border: 10px double #203a04;
  width: 50%;
  padding-bottom: 100px;
}
.brand-logo {
  display: flex;
  justify-content: center;
  color: #ff8b00;
  font-family: "Smooch", serif;
  font-size: 60px;
}
.brand-options {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.login_btn {
  color: #203a04;
  font-family: "Poppins", serif;
  font-weight: 500;
  padding-bottom: 1rem;
  font-size: 30px;
}
.login_options {
  display: flex;
  flex-direction: column;
}
.options {
  display: flex;
  flex-direction: row;
} */

header {
  background-color: white;
  box-shadow: 0 4px 6pc rgb(0, 0, 0, 0.1);
}
#container {
  width: 100%;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.name {
  font-size: 50px;
  font-family: "Smooch", serif;
  color: #396c03;
}
.navigate1 {
  font-family: "Poppins", serif;
  margin-right: 16px;
  color: #396c03;
}
.navigate1_a {
  font-family: "Poppins", serif;
  margin-right: 16px;
  color: #ff8b00;
}
.navigate1:hover {
  color: #ff8b00;
}
.navigate1_a:hover {
  color: #396c03;
}
.navigate2 {
  display: flex;
  flex-direction: row;
}
.login_b {
  background-color: #396c03;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  min-width: 100px;
  color: white;
  margin-right: 20px;
  font-family: "Poppins", serif;
  font-weight: 600;
}
.login_b:hover {
  background-color: #ff8b00;
}

.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #396c03;
  color: white;
}
.cart-icon:hover {
  background-color: #ff8b00;
}

.intro {
  background-image: url("/locha-e-logic/leaf.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30%;
}
.center_display {
  padding: 50px;
  width: 100%;
  max-width: 1280px;
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  font-family: "Smooch", serif;
  color: #396c03;
  font-size: 5rem;
}
.catchy {
  color: #396c03;
  font-family: "Montserrat", serif;
  font-size: 30px;
}
.catchy_2 {
  padding-top: 25px;
  color: grey;
  font-family: "Montserrat", serif;
}

.search_bar {
  margin-top: 1.5rem;
  display: flex;
}
.text_bar {
  width: 250px;
  padding: 0.5rem 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.search_b {
  background-color: #396c03;
  color: white;
  padding: 0.5rem 1rem;
  font-family: "Poppins", serif;
  font-weight: 600;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.plate {
  display: flex;
  margin-left: 320px;
}
.foodplate {
  height: 400px;
  width: 400px;
}
.after_main {
  display: flex;
  flex-direction: row;
  background-color: #fffbeb;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.cycle_div {
  width: 100%;
  margin-left: 60px;
}
.cycle_text {
  font-family: "Poppins", serif;
  font-size: 50px;
  font-weight: 900px;
  color: #396c03;
}
.cycle_para {
  color: grey;
  margin-top: 1rem;
  font-family: "Poppins", serif;
  font-weight: 400;
}
.explore_bt {
  margin-top: 20px;
  background-color: #396c03;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  min-width: 100px;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 600;
}

.explore_bt:hover {
  background-color: #ff8b00;
}

.cycle_img {
  margin-top: -120px;
  margin-left: -100px;
  height: 600px;
  width: 1000px;
}
.second_sec {
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* background-color: #fffbeb; */
}

.boxes {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  text-align: center;
  justify-content: center;
}

.box_bg {
  width: 400px;
  height: 200px;
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}

.box_bg:hover {
  box-shadow: 0 4px 6px rgb(0, 0, 1);
}

.food_icons {
  margin-bottom: 1rem;
  color: #396c03;
  font-size: 2.5rem;
}
.food_text {
  color: #203a04;
  font-size: 20px;
}
.food_para {
  margin-top: 1rem;
  color: grey;
  font-size: 15px;
  font-family: "Poppins", serif;
  font-weight: 400;
}

.faq {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.faq_section {
  width: 100%;
  margin: auto;
}
.question {
  text-align: center;
  font-size: 40px;
  color: #396c03;
  font-family: "Poppins", serif;
  font-weight: 700;
}
.faq_b {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.faq_b1 {
  margin-top: 20px;
  background-color: rgb(211, 209, 209);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  min-width: 100px;
  color: #396c03;
  font-family: "Poppins", serif;
  font-weight: 600;
}
.faq_b2 {
  margin-top: 20px;
  background-color: rgb(211, 209, 209);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  min-width: 100px;
  color: #396c03;
  font-family: "Poppins", serif;
  font-weight: 600;
}
.faq_b1:hover {
  background-color: #ff8b00;
  color: #fffbeb;
}
.faq_b2:hover {
  background-color: #ff8b00;
  color: #fffbeb;
}

.main_q,
.main_q2 {
  display: none;
  margin-top: 2rem;
  justify-content: center;
  /* display: flex; */
  flex-wrap: wrap;
  gap: 4rem;
}

.q_box {
  background-color: #fffbeb;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 500px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.q_box:hover {
  box-shadow: 0 4px 6px rgb(0, 0, 1);
}

.q_text {
  color: #396c03;
  font-family: "Poppins", serif;
  font-weight: 600;
}
.q_para {
  margin-top: 1rem;
  color: grey;
  font-family: "Poppins", serif;
}
.pocket {
  background-color: #fffbeb;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.pocket_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text_pocket {
  margin-left: 100px;
  color: #396c03;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 30px;
}
.pocket_para {
  margin-left: 100px;
  color: grey;
  margin-top: 1rem;
  font-size: 15px;
  font-family: "Poppins", serif;
  font-weight: 400;
}
.app_img {
  margin-left: 100px;
  display: flex;
  margin-top: 1.5rem;
  gap: 2rem;
  flex-direction: row;
}
.ios_img {
  height: 50px;
  width: 150px;
}
.pocket_big {
  display: flex;
  margin-top: 2rem;
  margin-left: 300px;
}
.pocket_img {
  border-radius: 10%;
  height: 400px;
  width: 600px;
}
.foot {
  background-color: #213908;
  padding-top: 3rem;
  padding-bottom: 1rem;
  color: white;
}

.foot_sections {
  display: flex;
  flex-direction: row;
  gap: 7rem;
}
.foot_logo {
  margin-left: 90px;
  color: #ff8b00;
  font-size: 70px;
  font-family: "Smooch", serif;
}
.logo_text {
  margin-left: 90px;
  color: grey;
  font-family: "Poppins", serif;
  font-weight: 400;
}
.foot_head {
  margin-top: 1rem;
  color: white;
  font-size: 20px;
  font-family: "Poppins", serif;
  font-weight: 600;
}
.foot_pointers {
  margin-top: 1rem;
  font-family: "Poppins", serif;
  font-weight: 400;
  color: grey;
}

.copyright {
  text-align: center;
  color: grey;
  margin-top: 3rem;
}

.join_chaska {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("./chef.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  align-items: center;
  height: 500px;
  width: 700px;
}
.join_text {
  margin-top: 13rem;
  text-align: center;
  color: white;
}
.chaska_text {
  color: white;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 40px;
}
.chaska_para {
  color: white;
  font-family: "Poppins", serif;
  font-weight: 600;
}
.join_bt {
  margin-top: 1.5rem;
  background-color: #ff8b00;
  border-radius: 0.4rem;
  width: 100px;
  padding: 10px;
}
.join_bt:hover {
  background-color: #203a04;
}
